In [300]:
import pandas as pd
import os

# Define the folder where the txt files are located
folder_path = 'C:\\Users\\Farhan\\Desktop\\Data Quest\\DataQuest2023\\Glucose-Data'

df_list = []

# Loop through all the txt files in the folder
for i in range(1, 50):
    # Define the filename for each txt file
    filename = os.path.join(folder_path, str(i) + '.txt')
    
    # Read the txt file into a pandas dataframe
    df = pd.read_csv(filename, sep='\t', header=None)
    
    # Rename the columns and add the patient name and ID columns
    df.columns = ['Date', 'Time', 'Code', 'GlucoseLevel']
    df.insert(0, 'PatientID',  str(i))
    
    # Append the dataframe to the list
    df_list.append(df)

# Concatenate all the dataframes in the list into a single dataframe
merged_df = pd.concat(df_list, ignore_index=True)

# Remove the default index
merged_df.index.name = None

# Display the merged datafram

In [301]:
merged_df

      PatientID        Date   Time  Code GlucoseLevel
0             1  04-15-1991  13:08    33            5
1             1  04-15-1991  17:17    62           41
2             1  04-15-1991  18:23    33            6
3             1  04-15-1991  18:24    35            3
4             1  04-15-1991  21:16    64          119
...         ...         ...    ...   ...          ...
20435        49  07-09-1991  22:11    34            7
20436        49  07-10-1991  08:03    58          130
20437        49  07-10-1991  08:15    33            6
20438        49  07-10-1991  12:18    60          239
20439        49  07-10-1991  12:24    33            6

[20440 rows x 5 columns]

In [302]:
df = merged_df

In [303]:
df = df.dropna()

In [304]:
#day column containing day
# Extract the day from the date and create a new column
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.strftime('%A')

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\2257271560.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\2257271560.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Day'] = df['Date'].dt.strftime('%A')

In [305]:
# Convert the 'Time' column to a datetime data type
df['Time'] = pd.to_datetime(df['Time'], errors='coerce')

# Define a function to get the time of day
def get_time_of_day(row):
    hour = row['Time'].hour
    if hour >= 3 and hour < 12:
        return 'Morning'
    elif hour >= 12 and hour < 16:
        return 'Afternoon'
    elif hour >= 16 and hour < 19:
        return 'Evening'
    else:
        return 'Night' if hour >= 19 or hour < 3 else None

# Create a new column 'time_of_day'
df['time_of_day'] = df.apply(get_time_of_day, axis=1)
df['Time'] = pd.to_datetime(df['Time'])
df['Time'] = df['Time'].dt.time

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3129236976.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce')
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3129236976.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_of_day'] = df.apply(get_time_of_day, axis=1)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3129236976.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = pd.to_datetime(df['Time'])
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3129236976.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = df['Time'].dt.time

In [306]:
#seperate column for year and month
# Convert the 'Date' column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Create new columns 'Year' and 'Month'
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1584906228.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1584906228.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Date'].dt.year
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1584906228.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Date'].dt.month

In [307]:
#7 weak day
df['week_day'] = (df['Day'] != 'Saturday') & (df['Day'] != 'Sunday')
df['week_day'] = df['week_day'].astype(int)

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\598539004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['week_day'] = (df['Day'] != 'Saturday') & (df['Day'] != 'Sunday')
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\598539004.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['week_day'] = df['week_day'].astype(int)

In [308]:
#QUARTER OF DAY
def get_quarter(row):
    if row['time_of_day'] == 'Morning':
        return 1
    elif row['time_of_day'] == 'Afternoon':
        return 2
    elif row['time_of_day'] == 'Evening':
        return 3
    elif row['time_of_day'] == 'Night':
        return 4
    else:
        return None

df['quarter'] = df.apply(get_quarter, axis=1)

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\282802836.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df.apply(get_quarter, axis=1)

In [309]:
df

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter
0,1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,2.0
1,1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,3.0
2,1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,3.0
3,1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,3.0
4,1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...
20435,49,1991-07-09,22:11:00,34,7,Tuesday,Night,1991,7,1,4.0
20436,49,1991-07-10,08:03:00,58,130,Wednesday,Morning,1991,7,1,1.0
20437,49,1991-07-10,08:15:00,33,6,Wednesday,Morning,1991,7,1,1.0
20438,49,1991-07-10,12:18:00,60,239,Wednesday,Afternoon,1991,7,1,2.0
20439,49,1991-07-10,12:24:00,33,6,Wednesday,Afternoon,1991,7,1,2.0

In [310]:
# Convert the 'Time' column to a datetime data type
df['Time'] = pd.to_datetime(df['Time'], errors='coerce')

# Define a function to get the time of day
def get_time_of_day(row):
    hour = row['Time'].hour
    if hour >= 3 and hour < 12:
        return 'Morning'
    elif hour >= 12 and hour < 16:
        return 'Afternoon'
    elif hour >= 16 and hour < 19:
        return 'Evening'
    else:
        return 'Night' if hour >= 19 or hour < 3 else None

# Create a new column 'time_of_day'
df['time_of_day'] = df.apply(get_time_of_day, axis=1)
df['Time'] = pd.to_datetime(df['Time'])
df['Time'] = df['Time'].dt.time

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3129236976.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce')
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3129236976.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_of_day'] = df.apply(get_time_of_day, axis=1)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3129236976.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = pd.to_datetime(df['Time'])
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3129236976.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = df['Time'].dt.time

In [311]:
df

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter
0,1,1991-04-15,NaT,33,5,Monday,None,1991,4,1,2.0
1,1,1991-04-15,NaT,62,41,Monday,None,1991,4,1,3.0
2,1,1991-04-15,NaT,33,6,Monday,None,1991,4,1,3.0
3,1,1991-04-15,NaT,35,3,Monday,None,1991,4,1,3.0
4,1,1991-04-15,NaT,64,119,Monday,None,1991,4,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...
20435,49,1991-07-09,NaT,34,7,Tuesday,None,1991,7,1,4.0
20436,49,1991-07-10,NaT,58,130,Wednesday,None,1991,7,1,1.0
20437,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,1.0
20438,49,1991-07-10,NaT,60,239,Wednesday,None,1991,7,1,2.0
20439,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,2.0

In [312]:
#seperate column for year and month
# Convert the 'Date' column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Create new columns 'Year' and 'Month'
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1584906228.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1584906228.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Date'].dt.year
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1584906228.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Date'].dt.month

In [313]:
df

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter
0,1,1991-04-15,NaT,33,5,Monday,None,1991,4,1,2.0
1,1,1991-04-15,NaT,62,41,Monday,None,1991,4,1,3.0
2,1,1991-04-15,NaT,33,6,Monday,None,1991,4,1,3.0
3,1,1991-04-15,NaT,35,3,Monday,None,1991,4,1,3.0
4,1,1991-04-15,NaT,64,119,Monday,None,1991,4,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...
20435,49,1991-07-09,NaT,34,7,Tuesday,None,1991,7,1,4.0
20436,49,1991-07-10,NaT,58,130,Wednesday,None,1991,7,1,1.0
20437,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,1.0
20438,49,1991-07-10,NaT,60,239,Wednesday,None,1991,7,1,2.0
20439,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,2.0

In [314]:
#7 weak day
df['week_day'] = (df['Day'] != 'Saturday') & (df['Day'] != 'Sunday')
df['week_day'] = df['week_day'].astype(int)

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\598539004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['week_day'] = (df['Day'] != 'Saturday') & (df['Day'] != 'Sunday')
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\598539004.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['week_day'] = df['week_day'].astype(int)

In [315]:
#QUARTER OF DAY
def get_quarter(row):
    if row['time_of_day'] == 'Morning':
        return 1
    elif row['time_of_day'] == 'Afternoon':
        return 2
    elif row['time_of_day'] == 'Evening':
        return 3
    elif row['time_of_day'] == 'Night':
        return 4
    else:
        return None

df['quarter'] = df.apply(get_quarter, axis=1)

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\282802836.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df.apply(get_quarter, axis=1)

In [316]:
df

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter
0,1,1991-04-15,NaT,33,5,Monday,None,1991,4,1,None
1,1,1991-04-15,NaT,62,41,Monday,None,1991,4,1,None
2,1,1991-04-15,NaT,33,6,Monday,None,1991,4,1,None
3,1,1991-04-15,NaT,35,3,Monday,None,1991,4,1,None
4,1,1991-04-15,NaT,64,119,Monday,None,1991,4,1,None
...,...,...,...,...,...,...,...,...,...,...,...
20435,49,1991-07-09,NaT,34,7,Tuesday,None,1991,7,1,None
20436,49,1991-07-10,NaT,58,130,Wednesday,None,1991,7,1,None
20437,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,None
20438,49,1991-07-10,NaT,60,239,Wednesday,None,1991,7,1,None
20439,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,None

In [317]:
my_dict = {
    33: "Regular insulin dose",
    34: "NPH insulin dose",
    35: "UltraLente insulin dose",
    48: "Unspecified blood glucose measurement",
    57: "Unspecified blood glucose measurement",
    58: "Pre-breakfast blood glucose measurement",
    59: "Post-breakfast blood glucose measurement",
    60: "Pre-lunch blood glucose measurement",
    61: "Post-lunch blood glucose measurement",
    62: "Pre-supper blood glucose measurement",
    63: "Post-supper blood glucose measurement",
    64: "Pre-snack blood glucose measurement",
    65: "Hypoglycemic symptoms",
    66: "Typical meal ingestion",
    67: "More-than-usual meal ingestion",
    68: "Less-than-usual meal ingestion",
    69: "Typical exercise activity",
    70: "More-than-usual exercise activity",
    71: "Less-than-usual exercise activity",
    72: "Unspecified special event"
}

In [318]:
# Loop through the keys in the dictionary and assign 1 if the key is present in the code column, else 0
for key in my_dict.keys():
    df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\362937663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)

In [319]:
df.tail()

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,...,Post-supper blood glucose measurement,Pre-snack blood glucose measurement,Hypoglycemic symptoms,Typical meal ingestion,More-than-usual meal ingestion,Less-than-usual meal ingestion,Typical exercise activity,More-than-usual exercise activity,Less-than-usual exercise activity,Unspecified special event
20435,49,1991-07-09,NaT,34,7,Tuesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,0,0
20436,49,1991-07-10,NaT,58,130,Wednesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,0,0
20437,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,0,0
20438,49,1991-07-10,NaT,60,239,Wednesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,0,0
20439,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,0,0

In [320]:
current_patient_id = df.loc[0, 'PatientID']
for i in range(1, len(df)):
    try:
        if df.loc[i, 'PatientID'] != current_patient_id:
            df.loc[i, 'glucose_level_since_beginning'] = 0
            current_patient_id = df.loc[i, 'PatientID']
        elif df.loc[i, 'Code'] in [61, 62, 33, 34, 35, 59, 63, 67, 68]:
            df.loc[i, 'glucose_level_since_beginning'] = df.loc[i, 'GlucoseLevel']
        else:
            df.loc[i, 'glucose_level_since_beginning'] = df.loc[i-1, 'glucose_level_since_beginning']
    except KeyError:
        continue

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1723017896.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[i, 'glucose_level_since_beginning'] = df.loc[i, 'GlucoseLevel']

In [321]:
df['GlucoseLevel'] = df['GlucoseLevel'].replace("0''", 0).astype(int)

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\3831039159.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GlucoseLevel'] = df['GlucoseLevel'].replace("0''", 0).astype(int)

In [322]:
df['DateTime'] = pd.to_datetime(df['Date']) + pd.to_timedelta(df['Time'].apply(lambda x: x.strftime('%H:%M:%S') if pd.notnull(x) else '00:00:00'))

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\2730880414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DateTime'] = pd.to_datetime(df['Date']) + pd.to_timedelta(df['Time'].apply(lambda x: x.strftime('%H:%M:%S') if pd.notnull(x) else '00:00:00'))

In [323]:
import numpy as np

In [324]:
df['DateTime'] = pd.to_datetime(df['Date']) + pd.to_timedelta(df['Time'].apply(lambda x: x.strftime('%H:%M:%S') if pd.notnull(x) else '00:00:00'))
grouped = df.groupby('PatientID')
df['time_since_beginning'] = grouped['DateTime'].diff().dt.total_seconds()
df['time_since_beginning'] = df['time_since_beginning'].replace(0, np.nan)
df['time_since_beginning'] = df['time_since_beginning'].fillna(0)
df = df.drop('DateTime', axis=1)

C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1731967471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DateTime'] = pd.to_datetime(df['Date']) + pd.to_timedelta(df['Time'].apply(lambda x: x.strftime('%H:%M:%S') if pd.notnull(x) else '00:00:00'))
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1731967471.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_since_beginning'] = grouped['DateTime'].diff().dt.total_seconds()
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1731967471.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_since_beginning'] = df['time_since_beginning'].replace(0, np.nan)
C:\Users\Farhan\AppData\Local\Temp\ipykernel_6180\1731967471.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_since_beginning'] = df['time_since_beginning'].fillna(0)

In [325]:
df['cumulative_time'] = df.groupby('PatientID')['time_since_beginning'].cumsum()
del df['time_since_beginning']

In [326]:
df

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,...,Hypoglycemic symptoms,Typical meal ingestion,More-than-usual meal ingestion,Less-than-usual meal ingestion,Typical exercise activity,More-than-usual exercise activity,Less-than-usual exercise activity,Unspecified special event,glucose_level_since_beginning,cumulative_time
0,1,1991-04-15,NaT,33,5,Monday,None,1991,4,1,...,0,0,0,0,0,0,0,0,NaN,0.0
1,1,1991-04-15,NaT,62,41,Monday,None,1991,4,1,...,0,0,0,0,0,0,0,0,41.0,0.0
2,1,1991-04-15,NaT,33,6,Monday,None,1991,4,1,...,0,0,0,0,0,0,0,0,6.0,0.0
3,1,1991-04-15,NaT,35,3,Monday,None,1991,4,1,...,0,0,0,0,0,0,0,0,3.0,0.0
4,1,1991-04-15,NaT,64,119,Monday,None,1991,4,1,...,0,0,0,0,0,0,0,0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20435,49,1991-07-09,NaT,34,7,Tuesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,NaN,2419200.0
20436,49,1991-07-10,NaT,58,130,Wednesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,NaN,2505600.0
20437,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,NaN,2505600.0
20438,49,1991-07-10,NaT,60,239,Wednesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,NaN,2505600.0
20439,49,1991-07-10,NaT,33,6,Wednesday,None,1991,7,1,...,0,0,0,0,0,0,0,0,NaN,2505600.0

In [327]:
df.to_csv('abcde.csv', index=False)